<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <title>New User</title>
    </head>

    <body>
        <h1>Welcome to codechef programmers classroom</h1>
        <div class="container">


            <div class="row mb-3">
                <div class="col-sm-10">
                    Email <p readonly class="form-control" id="userEmail"></p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10">
                    Name <p readonly class="form-control" id="userFullName"></p>
                </div>
            </div>
            You are?
            <div class="form-check">
                <input class="form-check-input" type="radio" name="usertype" id="userType" value="teacher">
                <label class="form-check-label" for="flexRadioDefault1">
                    Teacher
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="usertype" id="userType" value="student">
                <label class="form-check-label" for="flexRadioDefault2">
                    Student
                </label><br>Enter codechef username: 
                <input type="text" name="username" placeholder="CC username" id="userName" />
            </div>
            <button type="submit" class="btn btn-primary" onclick={createUser()}>Sign in</button>

        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
        </script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
        <script src="/static/js/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-firestore.js"></script>


        <script>
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            var userInfo = null;

            function checkLogIn() {

                firebase.auth().onAuthStateChanged((user) => {
                    if (user) {
                        console.log(user);
                        var email = user.email;
                         var name = user.displayName;
                        userInfo = user;
                        document.getElementById('userEmail').innerHTML = email;
                        document.getElementById('userFullName').innerHTML = name;
                    } else {
                        window.location.assign('/auth');
                    }
                })
            }

            function createUser() {
                console.log(userInfo);
                var type = document.querySelector('input[name="usertype"]:checked').value;
                var ccusername = document.getElementById('userName').value;
                console.log(ccusername);
                console.log(type);
                var email = userInfo.email;
                var name = userInfo.displayName;

                var db = firebase.firestore();

                db.collection("users").doc(email).set({
                        name:name,
                        type:type,
                        ccusername
                    })
                    .then(function (docRef) {
                        console.log("Document written Successfully ");
                        if(type=='student'){
                        window.location.assign('/studentDashboard');
                        }
                        else if(type=='teacher'){
                        window.location.assign('/teacherDashboard');
                        }
                        else{
                            firebase.auth().signOut();
                            console.log("Some error occurred, Fill profile page...");
                            window.location.assign('/auth');
                        }
                    })
                    .catch(function (error) {
                        console.error("Error adding document: ", error);
                    });

            }

            window.onload = function () {
                checkLogIn();
            }
        </script>



    </body>

</html>