<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
<h3 id="google-name"></h3>
    <img id="google-pic" src="" />
<p id="google-mail"></p>
Hello to HOME


<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-firestore.js"></script>
<script src="/static/js/firebase.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>

  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
// window.onload = function(){

// var user = firebase.auth().currentUser;
// console.log(user);
// document.getElementById('google-name').innerHTML = user.displayName;

// document.getElementById('google-pic').src = user.photoURL;

// document.getElementById('google-email').innerHTML = user.email;

// };
// 
</script>
    
    
</body>
</html>

