<!doctype html>
<html lang="en">

   <head>
   
      <!-- Required met-->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/static/css/studentDashboard.css" />

      <title>Class</title>
   </head>

   <body>

<!-- hvvdjv -->
<!-- bcxbb -->
<!-- bcxbb -->
      <div class="mynav">
         <input type="checkbox" id="mynav-check">
         <div class="mynav-header">
            <div class="mynav-title" id="helloUser">
               Hello
            </div>
         </div>
         <div class="mynav-btn">
            <label for="mynav-check">
               <span> </span>
               <span> </span>
               <span> </span>
            </label>
         </div>

         <div class="mynav-links">
            <a style ="letter-spacing: 1px;"href="/studentDashboard"> Dashboard </a>
            <a style ="letter-spacing: 1px;"href="/studentProfile"> Profile </a>
            <a style ="letter-spacing: 1px;" onclick="{userSignOut()}"> Sign out </a>
         </div>
      </div>
      <div class="container">
         <!-- <h4>Joined Students</h4>
          -->
         <h4>Questions to Solve</h4>
         <div id="joinedStudents">
            <button type="button" class="btn btn-primary" onclick="showQuestions()">Show questions</button>
         </div>
         <br><br><br><br>
         <div id="quesToSolve">
            <div class="row"></div>
         </div>

         <br><br><br><br>

         <!-- <div id="refreshQues">
            <button type="button" class="btn btn-primary" onclick="refreshQues()">Refresh</button>
         </div> -->

      </div>
      <script src="http://code.jquery.com/jquery-1.8.3.min.js "></script>
      <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-firestore.js"></script>
      <script src="/static/js/firebase.js"></script>
      <script src="/static/js/studentDashboard.js"></script>


      <script>
         firebase.initializeApp(firebaseConfig);
         var db = firebase.firestore();


         window.onload = function () {
            checkLogIn();
         }

         var userInfo;
         var teacherEmail = "";

         function checkLogIn() {

            firebase.auth().onAuthStateChanged((user) => {
               if (user) {
                  console.log(user);
                  userInfo = user;
                  console.log("User is Already LoggedIn");
                  // window.location.assign('/dashboard');
                  var helloUser = document.getElementById('helloUser');
                  helloUser.innerHTML = "Hello " + userInfo.displayName.split(" ")[0];
                  var classCode = document.URL.split('/')[4];


                  var docRef = db.collection("classes").doc(classCode);
                  docRef.get().then(function (doc) {
                     if (doc.exists) {
                        console.log("Document data:", doc.data().email);
                        teacherEmail = doc.data().email;
                     } else {
                        // doc.data() will be undefined in this case
                        console.log("No such teacher email!");
                     }
                  }).catch(function (error) {
                     console.log("Error getting teacher mail:", error);
                  });

               } else {
                  console.log("User not LoggedIn");
                  window.location.assign('/auth');

               }
            })
         }


         async function showQuestions() {
            var classCode = document.URL.split('/')[4];
            console.log(classCode, teacherEmail);
            var row = document.getElementsByClassName('row')[0];
            await
            db.collection("users").doc(teacherEmail).collection("classes").doc(classCode)
               .collection("ques").get().then(function (
                  querySnapshot) {
                  querySnapshot.forEach(function (doc) {
                     // doc.data() is never undefined for query doc snapshots
                     console.log(doc.id, " => ", doc.data());
                     row.innerHTML +=
                        `<div class="col">
                           <div class="card">
                              <div class="card-body">
                                 <h5 class="card-title">${doc.id}</h5>
                                 <p class="card-text" id='${doc.id}'>
                                 </p>
                                 <a href='https://codechef.com/problems/${doc.id}' target='_blank' class="btn btn-primary">Go to Question</a>
                              </div>
                           </div>
                     </div>
                     `;
                  });
               });


            let info = {
               'email': userInfo.email,
               'classCode': classCode,
               'teacherEmail': teacherEmail,
            }


            $.ajax({
               url: `http://localhost:3000/studentClass/${classCode}`,
               type: "POST",
               data: {
                  'info': info
               },
               dataType: "json"
            });
         }


         function userSignOut() {
            firebase.auth().signOut().then(function () {
               console.log("User Signed Out");
            }).catch(function (error) {
               console.log(error);
            });
         }
      </script>
   </body>

</html>