

/* vhjjf diuhg ddg comment hai */
body{

background-color:lightgoldenrodyellow;

}
.mynav {
  height: 50px;
  width: 100%;
  background-color: #2f3246;
  position: relative;
}

#helloUser
{
  color:chartreuse;
  letter-spacing: 1px;
}

.mynav>.mynav-header {
  display: inline;
}

.mynav>.mynav-header>.mynav-title {
  display: inline-block;
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.mynav>.mynav-btn {
  display: none;
}

.mynav>.mynav-links {
  display: inline;
  float: right;
  font-size: 18px;
  font-family: Georgia,
    'Times New Roman',
    Times,
    serif;


}

.mynav>.mynav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.mynav>.mynav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color:white;
}


.mynav>#mynav-check {
  display: none;
}

@media (max-width:600px) {
  .mynav>.mynav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .mynav>.mynav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .mynav>.mynav-btn>label:hover,
  .mynav #mynav-check:checked~.mynav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  
  }

  .mynav>.mynav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .mynav>.mynav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .mynav>.mynav-links>a {
    display: block;
    width: 100%;
  
    
  }
  

  

  .mynav>#mynav-check:not(:checked)~.mynav-links {
    height: 0px;
  }

  .mynav>#mynav-check:checked~.mynav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.create-class,
.assign-code {
  margin-top: 5px;
  width: 20%;
}

#createClass,
#assignCode {
  margin-bottom: 0px;
}

.create-class-effect,
.assign-code-effect {
  text-align: center;
  width: 100%;
  border: 0;
  padding: 1px;
  border-bottom: 1px solid brown;
  background-color: transparent;
}

#createClassSubmit,
#assignCodeSubmit {
  width: 100%;
  background-color: orangered;
  border:1px solid orangered
}


a{
  letter-spacing: 1px;
}